<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <style>
        body{background-image: url("/images/landingPic2.jpeg");
        background-size:cover;
        color: white;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }
      </style>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1 style="margin-top:2%">Edit Topic</h1>

<!-- #1 -->
      <form action="/topics/<%= topic.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Topic title</label>
<!-- #2 -->
          <input value="<%= topic.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
<!-- #3 -->
          <textarea rows="4" class="form-control" name="description" placeholder="Enter Description"><%= topic.description %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>