<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>About Us</h1>

      <p>Bloccit is a website that has been created in order to provide people a platform to dicuss any topic as they wish. This application was built using Node.JS. </p>

    </main>
    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>